@import '~@angular/material/theming';
@import '../../theme.scss';

:host {
  display: block;
  margin-top: 62px;
}

#title {
  padding: 1.4em 2em;
  background-color: mat-color($app-primary);
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}
