@import '~@angular/material/theming';
@import '../../theme.scss';

#title {
  margin-top: 62px;
  padding: 1.4em 2em;
  background-color: mat-color($app-primary);
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.sidenav {
  width: 90vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999;
}
