<div id="title">
  <span>Kezdőlap</span>
</div>
<div class="flex-wrapper">
  <div class="text main-text">PLASTIC</div>
  <div class="text sub-text text-bold">WORLD</div>
  <div class="text third-text">HUNGARY</div>
</div>
<div id="button-wrapper">
  <button mat-fab color="primary"><div class="logo logo-windows"></div></button>
  <button mat-fab color="primary"><div class="logo logo-doors"></div></button>
  <button mat-fab color="primary"><div class="logo logo-shutter"></div></button>
</div>

<div class="flex-wrapper-2">
  <div class="flex">
    <mat-icon>phone</mat-icon>
    <p><span class="text-bold">+36 30</span> 883 68 62</p>
  </div>
  <div id="no-radius" class="flex">
    <mat-icon>email</mat-icon>
    <p><span class="text-bold">plastic.world.kft</span>@gmail.com</p>
  </div>
  <div class="flex">
    <mat-icon>location_on</mat-icon>
    <p><span class="text-bold">1119 Budapest</span> / Andor utca 21.</p>
  </div>
</div>

