@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import '~@angular/material/theming';
@import 'theme.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

html, body {
  //background-color: mat-color($app-accent, 900);
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.text-bold {
  font-weight: 700;
}
